.landing-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  background: url('/public/bg/2bg.png') no-repeat center center;
  background-size: cover;
  position: relative;
  overflow: hidden;
}
.line {
  display: none;
}
.header2 {
  width: 100%;
  padding: 0 20px;
  text-align: center;
}
.main-title {
  margin-top: 10%;
  font-size: 56px;
  font-weight: 1000;
  text-transform: uppercase;
  color: white;
  text-shadow: 4px -8px 0 #6e43a0c8;
}
.main-title span {
  position: relative;
  color: white;
}
.page {
  display: flex;
  width: 100vw;
  margin: 3% 0;
  gap: 0;
  padding: 0;
}
.column {
  flex: 1;
  padding: 20px;
  margin: 3% 0;
  background: #a057c3;
}
.column:nth-child(2) {
  background: #7740A3;
}
.column:nth-child(3) {
  background: #a057c3;
}
.column:nth-child(4) {
  background: #7740A3;
}
.column-title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 15px;
  text-transform: uppercase;
}
.column-text {
  font-size: 16px;
  line-height: 1.4;
  color: #ffffff;
}
.footer-image {
  width: 40%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}
.footer-image img {
  max-width: 70%;
  height: auto;
}
@media (max-width: 978px) {
  .landing-page {
      flex-direction: column;
      align-items: center;
      padding: 0;
      background: none;
  }
  .line {
      display: flex;
      height: 3px;
      background: #ffffff;
  }
  .main-title {
      display: none;
  }
  .page {
      display: block;
      margin: 0;
  }
  .column {
      padding: 20px;
      margin: 0;
  }
  .column-title {
      font-size: 20px;
  }
  .column-text {
      font-size: 14px;
  }
  .footer-image {
      display: none;
  }
}
